main {
    font-family: var(--app-font-family);
    font-size: clamp(16px, 1.979vw, 20px);
    padding: 2% 5%;
    /* line-height: 1.2; */
}

main h2 {
    color: var(--main-accent-color);
    text-align: center;
}

.container {
    background-color: var(--card-bg-color);
    padding: 3%;
}

main ol {
    padding-left: 3%;
}