/* VARAIABLES USED IN THE POROJECT */

:root{
  --main-bg-color: #fff;
  --main-foreground-color: #fd9d24;
  --card-bg-color: #fef3e5;
  --main-accent-color: #009ddb;
  --main-text-color: #000;
  
  /* font family to be changed */
  --app-font-family: 'Arial, sans-serif'; 
  --app-font-size: clamp(14px, 1vw + 1rem, 18px);
  /* mobile view breakpoint */
  --mobile-breakpoint: 420px;
  --tab-breakpoint: 768px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--app-font-family);
    font-size: var(--app-font-size);
    display: flex;
    flex-direction: column;
}

main{
    min-width: 90%;
    max-width: 90%;
    border: blue 3px solid;
    align-self: center;
}

Navigation Bar
nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 4px solid orange; 
    background-color: lightblue;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black; 
    text-decoration: none;
    font-size: 18px;
}



/* SECTION: HOME PAGE, ASSIGNED TO: HARVEY */
.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    padding: 80px 20px 20px; 
}

.home-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.left-content {
    flex: 1;
    padding: 20px;
}

.number-phrase {
    display: flex;
    align-items: center; 
}

.number {
    font-size: 240px; 
    font-weight: bold;
    margin-right: 20px; 
    color: orange; 
}

.phrase {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.phrase h2 {
    font-size: 32px;
    font-weight: normal;
    margin: 0; 
    color: #09b4f5; 
}

.phrase-description {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative; 
}

.bold-text {
    font-weight: bold;
    margin-bottom: 5px;
}

.sample-text-container {
    display: flex;
    flex-direction: column;
}

.sample-text {
    font-size: 16px;
    margin-bottom: 5px; 
}

.learn-more {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    position: absolute; 
    right: 250px; 
    bottom: -30px; 
}

.learn-more:hover {
    text-decoration: underline;
}

.right-picture {
    flex: 0 0 40%; 
    text-align: right;
}

.right-picture img {
    width: 100%;
    height: auto; 
} 



/* SECTION: GLOBAL STATISTICS, ASSIGNED TO: LEONGHARD */
.global-statistics{
    /* can be changed */
    height: 100vh;
    width: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}



/* SECTION: INTRODUCTION, ASSIGNED TO: STEPHEN */
/* right content */
.introduction{
    width: 100%;
    border: solid yellow 5px;
    padding: 2% 0%;
    display: flex;
    justify-content: center; 
    flex-direction: column;   
    align-items: center;
}

.introduction .image-container{
    border: green solid 5px;
    width: 70%;
    height: fit-content;
    position: relative;
}

.image-container #img{
    width: 100%;
    border-radius: 1rem;
}

.image-container .logo-container{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5rem;
    background-color: var(--main-bg-color);
}

.logo-container #logo{
    width: 100%;
}

/* left content */
.introduction .content-container{
    border: blue solid 5px;
    width: 100%;
    height: fit-content;
    padding: 1rem;
}

.content-container #sub-text{
    font-style: italic;
    font-size: 1rem;
    font-family: var(--app-font-family)
}

.content-container #title-text{
    font-size: 2rem;;
    font-weight: bolder;
    font-family: var(--app-font-family);
    line-height: 3rem;
    color: var(--main-accent-color);
}

.content-container #discussion{
    font-family: var(--app-font-family);
    text-align: justify;
    line-height: 1.5rem;
}

@media(min-width: 768px){
    .introduction{
        flex-direction: row;
    }

    .introduction .image-container{
        width: 40%;
    }

    .introduction .content-container{
        width: 40%;
        padding: 2rem;
    }
}